<% layout('layouts/boilerplate') %>

<div class="d-flex justify-content-center align-item-center flex-column">
    <img src="https://i.kym-cdn.com/entries/icons/facebook/000/030/359/cover4.jpg" height="70%" alt="">
    <a class=" btn btn-outline-secondary mt-4" href="/">Go To Search</a>
</div>