<% layout('layouts/boilerplate') %>


    <div class="text-center">
        <form class="needs-validation d-inline" action="/" autocomplete="off" method="post" novalidate>
            
            <span class=" mb-3 fontt">B.L.</span>
            <span class=" mb-3 pink fontt">I.N.K.</span>
            <h6 class="mb-5">Search your favourite artists!!!!</h6>
            <input class="form-control" type="search" placeholder="type right i'm not google" name="artist" required>
            
                <button class="btn btn-lg btn-block btn-outline-secondary mt-4 py-1 mx-1" type="submit" >Blink Search</button>
            
        </form>
        <form action="/nah" method="post" class="d-inline">
            
                <button class="btn btn-lg btn-block btn-outline-secondary mt-4 py-1 mx-1">Nah!! i'm good</button>
            
        </form>
    </div>


